html {
	font-family: 'ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji';
	scroll-behavior: smooth;
}

h2 {
	@apply mb-5 font-semibold text-3xl lg:text-5xl text-center;
}

h3 {
	@apply text-2xl lg:text-4xl;
}

p, li {
	@apply text-base lg:text-2xl;
}

mark {
	@apply p-2 rounded leading-normal;
}

p:has(+ p) {
	@apply pb-2;
}

a {
	@apply underline hover:italic;
}

a:has(img) {
	@apply inline-block;
}

article p {
	@apply text-left;
}
