form {
	@apply flex flex-col items-start sm:max-w-92 lg:max-w-120 mx-auto gap-5 outline rounded-2xl p-5;
}

input, button, textarea {
	@apply p-2 bg-amber-50 rounded-lg w-full;
	corner-shape: squircle;
}

[aria-invalid] {
	@apply border border-red
}

button[disabled] {
	@apply bg-gray-700 text-white
}

.field {
	@apply flex flex-col items-start gap-1 w-full;
}
