@import './tailwind.css';
@import './typography.css';
@import './form.css';
@import './buttons.css';

html:before {
	content: '';
	position: fixed;
	top: -50%;
	left: -50%;
	right: -50%;
	bottom: -50%;
	width: 200%;
	height: 200vh;
	background: transparent
		url('https://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
	opacity: 0.9;
	visibility: visible;
	pointer-events: none;
	z-index: 900000000;
}

/* NavBar */
nav {
	z-index: 100;

	a {
		@apply rounded-full p-5 border-4 border-black text-base text-black font-semibold hover:italic;
	}
}
